= wrap_layout 'layout' do
    
  %header#home.section
    .canvas
      .avatar
        %a{href: '#home'}
          = image_tag 'avatar-144.png', alt: 'Joni Korpi'
    %nav.content
      %small Scroll down for…
      %ul
        %li
          %a{href: '#current-work'} Current Work
        %li
          %a{href: '#grid-systems'} Grid Systems
        %li
          %a{href: '#writing'} Writing
        %li
          %a{href: "#about-me"} About Me
  
  %article#current-work.section
    .canvas
      .cover-background{style: "background-image: url('/images/current-work.jpg')"}
    .content
      = partial 'content/current-work'
  
  %article#grid-systems.section
    .canvas
      .cover-background{style: "background-image: url('/images/grid-systems.png')"}
    .content
      = partial "content/grid-systems"
  
  %article#writing.section
    .canvas
      %h1.scaling-type 
        Writing
    .content
      = partial "content/writing"
  
  %footer#about-me.section
    .canvas
      .avatar
        = image_tag 'avatar-144.png', alt: 'Joni Korpi'
    .content
      = partial 'content/about'